/* Pinched from Weebly */
@font-face {
	font-family: 'Capture it';
	src: url('/fonts/regular.ttf') format('truetype');
}

body {
    font-family: "Questrial";
    font-size: 15px;
}

.content {
    width: 900px;
    margin: 0 auto;
}

h2 {
    color: #a82e2e;
    font-family: "Capture it";
    font-size: 28px;
    line-height: 30px;
    font-weight: 400;
}

li {
    color: blue;
    text-align: center;
    text-decoration: none;
}

.navbar {
    opacity:0.95;
}
.wsite-elements wsite-not-footer {
    border-top: 9px red;
}
#left {
        border-top: 10px black;
}
#main {
    border-top: 7px solid #a82e2e;
}